<div class="page-header">
  <h3>Thank you!</h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <p>Thank you for completing the follow up survey based on your interest in competitions at Kellogg.</p>
  </div>
  <a href="http://casechamp-staging.herokuapp.com/" class="btn btn-success">Return to Kellogg Competitions</a>
</div>
  </div>
</div>
